@import "tailwindcss";

@source "../../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@plugin "tailwindcss-animate";

:root {
  --font-sans: "Noto Sans JP" sans-serif;
  --font-barlow: "Barlow" sans-serif;
  --font-montserrat: "Montserrat" sans-serif;

  /* Project colors */
  --fk-yellow: #e9bf2c;
  --fk-yellow-soft: #fff9e8;
  --fk-green: #59671e;
  --fk-accent-red: #e54839;
  --fk-accent-brown: #af3c2b;
  --fk-text-main: #333333;
  --fk-text-muted: #3d3d3d;
  --fk-text-olive: #4d6724;
  --fk-white: #ffffff;
  --fk-white-92: rgb(255 255 255 / 92%);
  --fk-white-90: rgb(255 255 255 / 90%);
  --fk-shadow-header: rgb(3 10 2 / 10%);
}

@theme inline {
  --font-family-sans: var(--font-sans);
}

@layer base {
  body {
    margin: 0;
  }
}
