.officialCharacterSection {
  position: relative;
  font-family: var(--font-noto-sans-jp);
}

.header {
  text-align: center;
}

.title {
  margin: 0;
  font-size: 28px;
  line-height: 1.1;
  color: var(--fk-text-main);
  font-weight: 800;
}

.subtitle {
  margin: 6px 0 0;
  color: var(--fk-yellow);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-family: var(--font-montserrat);
}

.contentRow {
  margin-top: 34px;
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 54px;
  align-items: center;
}

.visual {
  display: grid;
  place-items: center;
}

.characterImage {
  width: min(100%, 190px);
  height: auto;
}

.copy {
  color: var(--fk-text-main);
}

.name {
  margin: 0;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 800;
}

.copy p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.copy p:first-of-type {
  margin-top: 18px;
}

.decorLrv::before {
  content: "";
  position: absolute;
  background: url("/lalavel.svg");
  background-repeat: no-repeat;
  right: -87px;
  top: 50%;
  height: 108px;
  display: block;
  width: 134px;
  height: 161px;
  background-size: contain;
  transform: translate(87px, -50%);
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 24px;
  }

  .contentRow {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .name {
    font-size: 40px;
  }

  .copy p {
    font-size: 18px;
    line-height: 1.65;
  }
}
